/**
 * EditingToolBar.css
 * EditingToolBar Stylesheet
 */

#editingToolbar {
    -fx-background-color: rgb(242, 242, 242);
}

#editingToolbar .button, #editingToolbar .toggle-button, #editingToolbar .combo-box {
    -fx-background-color: rgb(242, 242, 242);
}

#editingToolbar .toggle-button:selected, #editingToolbar .button:pressed {
    -fx-background-color: rgb(200, 200, 200);
}